<nav
  class="navbar navbar-expand-lg navbar-dark "
  style="background-color: #81c997;"
>
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand" style="color: #446d50;"
      ><strong>Booking App</strong></a
    >
  </div>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
    #toggler
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bookings">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/createRestaurant">Admin</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <div class="input-group ">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search..."
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </form> -->
    <li class="btn-group" dropdown>
      <a dropdownToggle role="button" class="dropdown-toggle">
        Accounts
      </a>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" [hidden]="isLoggedIn">
          <a
            class="dropdown-item glyphicon glyphicon-log-in"
            routerLink="login/"
          >
            Sign In
          </a>
        </li>
        <li role="menuitem" [hidden]="isLoggedIn">
          <a
            class="dropdown-item glyphicon glyphicon-sign-up"
            routerLink="signUp/"
          >
            Sign Up
          </a>
        </li>
        <li role="menuitem" [hidden]="!isLoggedIn">
          <a class="dropdown-item" href="#">Your Profile</a>
        </li>
        <li role="menuitem" [hidden]="!isLoggedIn">
          <a class="dropdown-item" href="#">Your Bookings</a>
        </li>
        <li class="divider dropdown-divider" [hidden]="!isLoggedIn"></li>
        <li role="menuitem" [hidden]="!isLoggedIn">
          <a class="dropdown-item" (click)="signOut()">Sign Out</a>
        </li>
      </ul>
    </li>
  </div>
</nav>
