<div class="container" id="restaurantForm">
  <br />
  <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-6 col-sm-12 ">
        <div class="form-group">
          <label class="required" for="email">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Enter Name of Restaurant..."
            class="form-control"
          />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 ">
        <div class="form-group">
          <label class="required" for="contact">Contact No.</label>
          <input
            type="text"
            id="contact"
            formControlName="contact"
            placeholder="Enter Contact No of Restaurant..."
            class="form-control"
          />
        </div>
      </div>
      <div class="col-lg-9 col-sm-12 ">
        <div class="form-group">
          <label class="required" for="address">Address</label>
          <input
            type="text"
            id="address"
            formControlName="address"
            placeholder="Enter Address of Restaurant..."
            class="form-control"
          />
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 ">
        <div class="form-group">
          <label class="required" for="ratingAvg">Average Raiting</label>
          <input
            type="text"
            id="ratingAvg"
            formControlName="ratingAvg"
            placeholder="Enter Raiting of Restaurant..."
            class="form-control"
          />
        </div>
      </div>
      <div
        class="col-lg-12 col-sm-12 "
        formArrayName="tables"
        *ngFor="let table of tables.controls; let i = index"
      >
        <div class="row" [formGroupName]="i">
          <div class="col-lg-10 col-sm-12">
            <div class="row">
              <div class="col-lg-4 col-sm-12 form-group">
                <label class="required" for="seatingCapacity" [hidden]="i != 0"
                  >Seating Capacity</label
                >
                <input
                  type="number"
                  id="seatingCapacity"
                  formControlName="seatingCapacity"
                  placeholder="Enter Seateing capacity per table..."
                  class="form-control"
                />
              </div>
              <div class="col-lg-4 col-sm-12 form-group">
                <label class="required" for="totalNoOfTables" [hidden]="i != 0"
                  >Total no of Tables</label
                >
                <input
                  type="number"
                  id="totalNoOfTables"
                  formControlName="totalNoOfTables"
                  placeholder="Enter total No of tables..."
                  class="form-control"
                />
              </div>
              <div class="col-lg-4 col-sm-12 form-group">
                <label class="required" for="chargesPerTable" [hidden]="i != 0"
                  >Charges per Table</label
                >
                <input
                  type="number"
                  id="chargesPerTable"
                  formControlName="chargesPerTable"
                  placeholder="Enter charges per table..."
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-12 form-group " style="text-align: right">
            <label [hidden]="i != 0" for="del" style="width: 100%">
              &nbsp; &nbsp;
            </label>
            <button
              type="button"
              id="del"
              class="btn btn-danger form-control"
              style="width: 100px"
              (click)="deleteRow(i)"
              [disabled]="tables.controls.length < 2"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <hr />
        <div class="pull-left">
          <button class="btn btn-info" type="button" (click)="addRow()">
            Add Table
          </button>
        </div>
        <div class="pull-right">
          <button
            class="btn btn-warning pull-left"
            type="button"
            (click)="deleteRestaurant()"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="col-lg-12" style="margin-top: 15px">
        <div class="pull-left">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!restaurantForm.valid"
          >
            Modify
          </button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn reset" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
