<div
  *ngIf="restaurants != null && restaurants.length > 0; else no_records_found"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Contact</th>
        <th scope="col">Raiting</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let restaurant of restaurants; index as i"
        (click)="onclick(restaurant.id)"
        style="cursor: pointer;"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.contact }}</td>
        <td>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="restaurant.ratingAvg"
            [starTemplate]="t"
            [readonly]="true"
            max="5"
          ></ngb-rating>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #no_records_found><strong>No Records Found!</strong></ng-template>
