<div class="container">
  <h1>Hello {{ username }} ,</h1>
  <br />
  <h2>Welcome to Restaurant Table Booking App</h2>
  <p>Explore Restaurant Here!</p>

  <form [formGroup]="searchFrom" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- Date of name div start -->
      <div class="col-lg-8 col-md-8">
        <div class="form-group search-box pull-left">
          <input
            type="text"
            id="name"
            formControlName="search"
            placeholder="Search Here..."
            class="form-control"
          />
        </div>
        <div class="pull-right">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!searchFrom.valid"
          >
            Search
          </button>
        </div>
      </div>
      <div class="col-md-4" style="text-align: right">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
                style="height: 50px;"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>
  <hr />
  <app-restaurant-list></app-restaurant-list>
</div>
